input{
    width: 130px;
    margin-right: 35px;
}

label{
    margin-left: 20px;
}

.tzHeader{
    margin-left: 100px;
}

.formHeaders{
    margin-bottom: 10px;
}

.clockHeader{
    display: flex;
    margin-bottom: 15px;
}

.clockname{
    margin-left: 30%;
}

.deleteClock{
    margin-left: 25px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 50%;
}

.deleteClock:hover{
    cursor: pointer;
}

.deleteClock:active{
    background-color: #000;
}



.ClocksBlock{
    display: inline-flex;
    margin-top: 25px;
}

.clock {
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid black;
    background:rgb(130, 228, 231);
    background-size: 88%;
    height: 120px;
    position: relative;
    width: 120px;

  }
  
  .clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
  }

  .minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .hours {
    border: 1px solid black;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
  }

  .minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
  }

  .seconds {
    border: 1px dotted black;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    z-index: 8;
  }

  @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
  }

  .hours-container {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
  }

  .minutes-container {
    animation: rotate 3600s infinite steps(60);
  }
  .seconds-container {
    animation: rotate 60s infinite steps(60);
  }